# Gérer les fins de ligne automatiquement
* text=auto

# Pour les fichiers shell et scripts : garder LF
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.properties text eol=lf
*.xml text eol=lf
